{% load static %}
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'categories' %}">All Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Fruits And Vegetables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dairy Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">General Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Personal Care</a>
    </li>
    
  </ul>