{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Daily Mart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="#">Location</a>
                </li>

                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Saboor
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders' %}">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'login' %}">Logout</a></li>

                    </ul>
                </li>
                <form class="d-flex form-control-lg">
                    <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'login' %}" tabindex="-1">Login</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'signup' %}" tabindex="-1">Sign up</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="{% url 'cart' %}" tabindex="-1">Cart</a>
                </li>
            </ul>


        </div>
    </div>
</nav>