{% extends 'main/base.html' %} {% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Product{% endblock title %}</title>
</head>

<body>

    {% block product %}
    <div class="container">
        <h4>Product</h4>
        <h4> yeh product page hai</h4>
        <form action="">
            <input type="button" value="">
        </form>
    </div>







    {% endblock product %}
</body>

</html>